(function() {


  var loadScript = function(url, callback) {

  	var script = document.createElement("script");
		script.type = "text/javascript";

	  // If the browser is Internet Explorer.
	  if (script.readyState){
	    script.onreadystatechange = function() {
	      if (script.readyState == "loaded" || script.readyState == "complete"){
	        script.onreadystatechange = null;
	        callback();
	      }
	    };
	  // For any other browser.
	  } else {
	    script.onload = function() {
	      callback();
	    };
	  }

	  script.src = url;
	  document.getElementsByTagName("head")[0].appendChild(script);

  }

	/* This is my app's JavaScript */
	var myAppJavaScript = function($) {

        function createCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name,"",-1);
        }

		var options = {
        	enable_app: <%= @option.enable_app %>,
            timer_format: "<%= @option.timer_format %>",
            product_rule: "<%= @option.product_rule %>",
            float_settings: {
                float_enable: <%= @option.float_enable %>,
                float_text: "<%= h(@option.float_text).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>",
                float_position: "<%= @option.float_position %>",
                float_bg_color: "<%= @option.float_bg_color %>",
                float_text_color: "<%= @option.float_text_color %>",
                float_timer_color: "<%= @option.float_timer_color %>",
                float_border: "<%= @option.float_border %>",
                float_border_radius: "<%= @option.float_border_radius %>",
                float_font_size: "<%= @option.float_font_size %>",
                float_timer_size: "<%= @option.float_timer_size %>"
            },
            low_time_settings: {
                low_time_enable: <%= @option.low_time_enable %>,
                low_time_location: "<%= @option.low_time_location %>",
                low_time_warning: <%= @option.low_time_warning %>,
                low_time_warning_2: <%= @option.low_time_warning_2 %>,
                low_time_text: "<%= h(@option.low_time_text).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>",

                low_time_bar_bg_color: "<%= @option.low_time_bar_bg_color %>",
                low_time_bar_text_color: "<%= @option.low_time_bar_text_color %>",
                low_time_bar_timer_color: "<%= @option.low_time_bar_timer_color %>",
                low_time_bar_border: "<%= @option.low_time_bar_border %>",
                low_time_bar_border_radius: "<%= @option.low_time_bar_border_radius %>",
                low_time_bar_font_size: "<%= @option.low_time_bar_font_size %>",
                low_time_bar_timer_size: "<%= @option.low_time_bar_timer_size %>",

                low_time_view_cart_bg_color: "<%= @option.low_time_view_cart_bg_color %>",
                low_time_view_cart_text_color: "<%= @option.low_time_view_cart_text_color %>",
                low_time_view_cart_border: "<%= @option.low_time_view_cart_border %>",
                low_time_view_cart_border_radius: "<%= @option.low_time_view_cart_border_radius %>",

                low_time_checkout_bg_color: "<%= @option.low_time_checkout_bg_color %>",
                low_time_checkout_text_color: "<%= @option.low_time_checkout_text_color %>",
                low_time_checkout_border: "<%= @option.low_time_checkout_border %>",
                low_time_checkout_border_radius: "<%= @option.low_time_checkout_border_radius %>"
            },
            header_settings: {
                header_enable: <%= @option.header_enable %>,
                header_display: "<%= @option.header_display %>",
                header_low_enable: <%= @option.header_low_enable %>,
                header_low_warning: <%= @option.header_low_warning %>,
                header_low_animation: "<%= @option.header_low_animation %>",

                header_display1_text_color: "<%= @option.header_display1_text_color %>",
                header_display1_font_size: "<%= @option.header_display1_font_size %>",
                header_display1_padding: "<%= @option.header_display1_padding %>",
                header_display1_margin: "<%= @option.header_display1_margin %>",
                header_display1_low_text_color: "<%= @option.header_display1_low_text_color %>",

                header_display2_text_color: "<%= @option.header_display2_text_color %>",
                header_display2_icon_color: "<%= @option.header_display2_icon_color %>",
                header_display2_font_size: "<%= @option.header_display2_font_size %>",
                header_display2_padding: "<%= @option.header_display2_padding %>",
                header_display2_margin: "<%= @option.header_display2_margin %>",
                header_display2_low_text_color: "<%= @option.header_display2_low_text_color %>",
                header_display2_low_icon_color: "<%= @option.header_display2_low_icon_color %>",

                header_display3_text_color: "<%= @option.header_display3_text_color %>",
                header_display3_icon_color: "<%= @option.header_display3_icon_color %>",
                header_display3_bg_color: "<%= @option.header_display3_bg_color %>",
                header_display3_border: "<%= @option.header_display3_border %>",
                header_display3_border_radius: "<%= @option.header_display3_border_radius %>",
                header_display3_font_size: "<%= @option.header_display3_font_size %>",
                header_display3_padding: "<%= @option.header_display3_padding %>",
                header_display3_margin: "<%= @option.header_display3_margin %>",
                header_display3_low_text_color: "<%= @option.header_display3_low_text_color %>",
                header_display3_low_icon_color: "<%= @option.header_display3_low_icon_color %>",
                header_display3_low_bg_color: "<%= @option.header_display3_low_bg_color %>",
                header_display3_low_border: "<%= @option.header_display3_low_border %>",
                header_display3_low_border_radius: "<%= @option.header_display3_low_border_radius %>",

                header_display4_text_color: "<%= @option.header_display4_text_color %>",
                header_display4_icon_color: "<%= @option.header_display4_icon_color %>",
                header_display4_bg_color: "<%= @option.header_display4_bg_color %>",
                header_display4_border: "<%= @option.header_display4_border %>",
                header_display4_border_radius: "<%= @option.header_display4_border_radius %>",
                header_display4_font_size: "<%= @option.header_display4_font_size %>",
                header_display4_padding: "<%= @option.header_display4_padding %>",
                header_display4_margin: "<%= @option.header_display4_margin %>",
                header_display4_low_text_color: "<%= @option.header_display4_low_text_color %>",
                header_display4_low_icon_color: "<%= @option.header_display4_low_icon_color %>",
                header_display4_low_bg_color: "<%= @option.header_display4_low_bg_color %>",
                header_display4_low_border: "<%= @option.header_display4_low_border %>",
                header_display4_low_border_radius: "<%= @option.header_display4_low_border_radius %>"
            },
            cart_settings: {
                cart_enable: <%= @option.cart_enable %>,
                cart_text: "<%= h(@option.cart_text).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>",

                cart_bar_bg_color: "<%= @option.cart_bar_bg_color %>",
                cart_bar_text_color: "<%= @option.cart_bar_text_color %>",
                cart_bar_timer_color: "<%= @option.cart_bar_timer_color %>",
                cart_bar_border: "<%= @option.cart_bar_border %>",
                cart_bar_border_radius: "<%= @option.cart_bar_border_radius %>",
                cart_bar_font_size: "<%= @option.cart_bar_font_size %>",
                cart_bar_timer_size: "<%= @option.cart_bar_timer_size %>",
                cart_bar_padding: "<%= @option.cart_bar_padding %>",
                cart_bar_margin: "<%= @option.cart_bar_margin %>",

                cart_continue_bg_color: "<%= @option.cart_continue_bg_color %>",
                cart_continue_text_color: "<%= @option.cart_continue_text_color %>",
                cart_continue_border: "<%= @option.cart_continue_border %>",
                cart_continue_border_radius: "<%= @option.cart_continue_border_radius %>",
                cart_checkout_bg_color: "<%= @option.cart_checkout_bg_color %>",
                cart_checkout_text_color: "<%= @option.cart_checkout_text_color %>",
                cart_checkout_border: "<%= @option.cart_checkout_border %>",
                cart_checkout_border_radius: "<%= @option.cart_checkout_border_radius %>",

                cart_low_enable: <%= @option.cart_low_enable %>,
                cart_low_warning: <%= @option.cart_low_warning %>,
                cart_bar_low_bg_color: "<%= @option.cart_bar_low_bg_color %>",
                cart_bar_low_text_color: "<%= @option.cart_bar_low_text_color %>",
                cart_bar_low_timer_color: "<%= @option.cart_bar_low_timer_color %>",
                cart_bar_low_border: "<%= @option.cart_bar_low_border %>",
                cart_bar_low_border_radius: "<%= @option.cart_bar_low_border_radius %>",

                cart_continue_low_bg_color: "<%= @option.cart_continue_low_bg_color %>",
                cart_continue_low_text_color: "<%= @option.cart_continue_low_text_color %>",
                cart_continue_low_border: "<%= @option.cart_continue_low_border %>",
                cart_continue_low_border_radius: "<%= @option.cart_continue_low_border_radius %>",
                cart_checkout_low_bg_color: "<%= @option.cart_checkout_low_bg_color %>",
                cart_checkout_low_text_color: "<%= @option.cart_checkout_low_text_color %>",
                cart_checkout_low_border: "<%= @option.cart_checkout_low_border %>",
                cart_checkout_low_border_radius: "<%= @option.cart_checkout_low_border_radius %>"
            },
            quick_view_settings: {
                quick_view_enable: <%= @option.quick_view_enable %>,
                quick_view_text: "<%= h(@option.quick_view_text).gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>",
                quick_view_background_color: "<%= @option.quick_view_background_color %>",
                quick_view_text_color: "<%= @option.quick_view_text_color %>",
                quick_view_timer_color: "<%= @option.quick_view_timer_color %>",
                quick_view_border: "<%= @option.quick_view_border %>",
                quick_view_border_radius: "<%= @option.quick_view_border_radius %>",
                quick_view_font_size: "<%= @option.quick_view_font_size %>",
                quick_view_timer_size: "<%= @option.quick_view_timer_size %>",
                quick_view_padding: "<%= @option.quick_view_padding %>",
                quick_view_margin: "<%= @option.quick_view_margin %>",
                quick_view_low_enable: <%= @option.quick_view_low_enable %>,
                quick_view_low_warning: "<%= @option.quick_view_low_warning %>",
                quick_view_low_background_color: "<%= @option.quick_view_low_background_color %>",
                quick_view_low_text_color: "<%= @option.quick_view_low_text_color %>",
                quick_view_low_timer_color: "<%= @option.quick_view_low_timer_color %>",
                quick_view_low_border: "<%= @option.quick_view_low_border %>",
                quick_view_low_border_radius: "<%= @option.quick_view_low_border_radius %>"
            },
            product_settings: {
                product_all_border_radius: "<%= @option.product_all_border_radius %>",
                product_all_font_size_top: "<%= @option.product_all_font_size_top %>",
                product_all_font_size_bottom: "<%= @option.product_all_font_size_bottom %>",
                product_all_opacity: "<%= @option.product_all_opacity %>",
                product_all_padding: "<%= @option.product_all_padding %>",
                product_all_margin: "<%= @option.product_all_margin %>",

                product_reserved_text_top: "<%= @option.product_reserved_text_top.html_safe %>",
                product_reserved_text_bottom: "<%= @option.product_reserved_text_bottom %>",
                product_reserved_background: "<%= @option.product_reserved_background %>",
                product_reserved_text_color_top: "<%= @option.product_reserved_text_color_top %>",
                product_reserved_text_color_bottom: "<%= @option.product_reserved_text_color_bottom %>",
                product_reserved_border: "<%= @option.product_reserved_border %>",

                product_readd_text_top: "<%= @option.product_readd_text_top %>",
                product_readd_text_bottom: "<%= @option.product_readd_text_bottom %>",
                product_readd_background: "<%= @option.product_readd_background %>",
                product_readd_text_color_top: "<%= @option.product_readd_text_color_top %>",
                product_readd_text_color_bottom: "<%= @option.product_readd_text_color_bottom %>",
                product_readd_border: "<%= @option.product_readd_border %>",

                product_no_readd_text_top: "<%= @option.product_no_readd_text_top %>",
                product_no_readd_text_bottom: "<%= @option.product_no_readd_text_bottom %>",
                product_no_readd_background: "<%= @option.product_no_readd_background %>",
                product_no_readd_text_color_top: "<%= @option.product_no_readd_text_color_top %>",
                product_no_readd_text_color_bottom: "<%= @option.product_no_readd_text_color_bottom %>",
                product_no_readd_timer_color: "<%= @option.product_no_readd_timer_color %>",
                product_no_readd_border: "<%= @option.product_no_readd_border %>",
                product_no_readd_link: "<%= @option.product_no_readd_link %>",
                product_no_readd_link_color: "<%= @option.product_no_readd_link_color %>",
                product_no_readd_link_font_size: "<%= @option.product_no_readd_link_font_size %>",

                product_another_reserved_text_top: "<%= @option.product_another_reserved_text_top %>",
                product_another_reserved_text_bottom: "<%= @option.product_another_reserved_text_bottom %>",
                product_another_reserved_background: "<%= @option.product_another_reserved_background %>",
                product_another_reserved_text_color_top: "<%= @option.product_another_reserved_text_color_top %>",
                product_another_reserved_text_color_bottom: "<%= @option.product_another_reserved_text_color_bottom %>",
                product_another_reserved_timer_color: "<%= @option.product_another_reserved_timer_color %>",
                product_another_reserved_border: "<%= @option.product_another_reserved_border %>",
                product_another_reserved_link: "<%= @option.product_another_reserved_link %>",
                product_another_reserved_link_color: "<%= @option.product_another_reserved_link_color %>",
                product_another_reserved_link_font_size: "<%= @option.product_another_reserved_link_font_size %>",

                product_grid_text: "<%= @option.product_grid_text %>",
                product_grid_background: "<%= @option.product_grid_background %>",
                product_grid_text_color: "<%= @option.product_grid_text_color %>",
                product_grid_border: "<%= @option.product_grid_border %>",
                product_grid_border_radius: "<%= @option.product_grid_border_radius %>",
                product_grid_padding: "<%= @option.product_grid_padding %>",
                product_grid_margin: "<%= @option.product_grid_margin %>",
                product_grid_reserved_background: "<%= @option.product_grid_reserved_background %>",
                product_grid_reserved_text_color: "<%= @option.product_grid_reserved_text_color %>",
                product_grid_reserved_border_radius: "<%= @option.product_grid_reserved_border_radius %>",
                product_grid_sold_text: "<%= @option.product_grid_sold_text %>",
                product_grid_sold_background: "<%= @option.product_grid_sold_background %>",
                product_grid_sold_text_color: "<%= @option.product_grid_sold_text_color %>",
                product_grid_sold_border_radius: "<%= @option.product_grid_sold_border_radius %>"
            },
            custom_css: "<%= @option.custom_css.gsub(/(?:\n\r?|\r\n?)/, '') %>"            
		},
		customCSS = options.custom_css,
        clockSizes = {};
        console.log(options);        

		if (options.enable_app) {

            $(document).on('click', '.wittyClose', function(e) {
                e.preventDefault();
                $(this).parent().hide();
            });

            $(document).on('click', '.wittyLowTimeClose', function(e) {
                e.preventDefault();

                if ( $(this).parent().hasClass('wittyCartLowWarning2Show') ) {
                    $(this).parent().addClass('wittyCartLowWarning2Removed');
                } else {
                    $(this).parent().addClass('wittyCartLowWarningRemoved');
                }
            });
			
            function addMinutes(date, minutes) {
                return new Date(date.getTime() + minutes*60000);
            }

            // adds a leading zero to a one diget number
            function LeadingZero(num) {
                var s = "0" + num;
                return s.substr(s.length-2);
            }

            // returns time in day, hour, minute, and second increments
            function getTimeRemaining(endtime) {
              var t = Date.parse(endtime) - Date.parse(new Date());
              var seconds = Math.floor( (t/1000) % 60 );
              var minutes = Math.floor( (t/1000/60) % 60 );
              var hours = Math.floor( (t/(1000*60*60)) % 24 );
              var days = Math.floor( t/(1000*60*60*24) );
              return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
              };
            }

            function setGlobalSize() {

                var timerFormat = (options.timer_format === 'clock') ? '00:00' : '00m 00s' ;

                if (options.header_settings.header_enable) {
                    switch (options.header_settings.header_display) {
                        case '1':
                            var headerFontSize = options.header_settings.header_display1_font_size;
                            break;
                        case '2':
                            headerFontSize = options.header_settings.header_display2_font_size;
                            break;
                        case '3':
                            headerFontSize = options.header_settings.header_display3_font_size;
                            break;
                        case '4':
                            headerFontSize = options.header_settings.header_display4_font_size;
                            break;
                    }

                    $('#wittyCartHeaderTimer').append('<div class="clock-measurement" style="font-size:'+headerFontSize+'px;">'+timerFormat+'</div>');
                }

                if (options.cart_settings.cart_enable) $('#wittyCartCartTimer').append('<div class="clock-measurement" style="font-size:'+options.cart_settings.cart_bar_timer_size+'px;">'+timerFormat+'</div>');

                if (options.quick_view_settings.quick_view_enable) $('#wittyCartQuickView').append('<div class="clock-measurement" style="font-size:'+options.quick_view_settings.quick_view_timer_size+'px;">'+timerFormat+'</div>');
                
                setTimeout(function() {
                    $('.clock-measurement').each(function() {
                        var id = $(this).parent()[0].id;

                        clockSizes[id] = $(this).width();
                    });
                    $.each(clockSizes, function(index, value) {
                        $('#'+index+' .wittyCountDownTimer').width(value);
                    });
                    $('.clock-measurement').remove();
                }, 00);
            }

            setGlobalSize();

            // sets and formats timer based on passed timestamp
            function initializeClock(query, endtime) {
              var clock = $(query);
              var text;
              var letterSize = [];

              function setSize() {
                
                clock.each(function() {
                    var sizes = [];
                    largestWidth = 0;

                    $(this).find('span').each(function() {
                        sizes.push($(this).width());
                        if ($(this).width() > largestWidth) {
                            largestWidth = $(this).width();
                        }
                    });

                    var sum = 0;
                    for( var i = 0; i < sizes.length; i++ ){
                        sum += parseInt( sizes[i], 10 ); //don't forget to add the base
                    }

                    letterSize.push((sum/sizes.length)+2);
                    
                });
              }

              function updateClock() {
                var t = getTimeRemaining(endtime);
                if (clock) {
                    if (options.timer_format == 'clock') {
                        text = t.minutes + ':' + LeadingZero(t.seconds);
                    } else {
                        text =  t.minutes + 'm ' + t.seconds + 's';
                    }

                    totalSeconds = t.minutes*60 + t.seconds;

                    // console.log(totalSeconds);

                    if (totalSeconds <= options.header_settings.header_low_warning) {
                        if ($('#wittyCartHeaderLowTimeStyles').length == 0) $('body').append(headerLowCSS);
                    } else {
                        $('#wittyCartHeaderLowTimeStyles').remove();
                    }

                    if (totalSeconds <= options.cart_settings.cart_low_warning) {
                        if ($('#wittyCartCartLowTimeStyles').length == 0) $('body').append(cartLowCSS);
                    } else {
                        $('#wittyCartCartLowTimeStyles').remove();
                    }

                    if (totalSeconds <= options.quick_view_settings.quick_view_low_warning) {
                        if ($('#wittyCartQuickLowTimeStyles').length == 0) $('body').append(quickLowCSS);
                    } else {
                        $('#wittyCartQuickLowTimeStyles').remove();
                    }

                    if (totalSeconds <= options.low_time_settings.low_time_warning) {
                        $('#wittyCartLowBarTimer').removeClass('wittyCartHidden');
                    } else {
                        $('#wittyCartLowBarTimer').addClass('wittyCartHidden').removeClass('wittyCartLowWarningRemoved');
                    }

                    if (totalSeconds <= options.low_time_settings.low_time_warning_2) {
                        $('#wittyCartLowBarTimer').addClass('wittyCartLowWarning2Show');
                    } else {
                        $('#wittyCartLowBarTimer').removeClass('wittyCartLowWarning2Show').removeClass('wittyCartLowWarning2Removed');
                    }             

                    // display:flex;

                    text.replace(' ', '');
                    clock.html( text );  
                    
                }

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                }
              }

              updateClock();

              var timeinterval = setInterval(updateClock,1000);
            }

            var expires = addMinutes(new Date(), 1.1); // PLACEHOLDER!!!!!!!!
            
            // creates a fixed timer element if enabled
            if (options.float_settings.float_enable) {
                var f = options.float_settings,
                    floatTimer = $('<div id="wittyCartFloatTimer">');
                floatTimer.append('<a href="#" class="wittyClose">X</a>');
                floatTimer.append('<div class="timer_message">' + options.float_settings.float_text + '</div>');
                floatTimer.append('<div class="wittyCountDownTimer"></div>');
                $('body').append(floatTimer);

                // Float Timer Dynamic CSS
                $('body').append('<%= render(partial: "back_end/js_css/dynamic_float_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');

            } // end ENABLE FLOATING TIMER

            // shows timer in the header (manually installed snippet) if enabled
            if (options.header_settings.header_enable) {
                var headerLowCSS = '<%= render(partial: "back_end/js_css/dynamic_low_header_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>',
                    h =  options.header_settings;

                $('body').append('<%= render(partial: "back_end/js_css/dynamic_header_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');
                // customCSS = headerCSS + customCSS;
            } else {
                $('#wittyCartHeaderTimer').remove();
            }

            // shows timer on the cart page (manually installed snippet) if enabled
            if (options.cart_settings.cart_enable) {
                var cartLowCSS = '<%= render(partial: "back_end/js_css/dynamic_low_cart_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>',
                    c =  options.cart_settings,
                    padding_array = c.cart_bar_padding.split(' ');

                $('#wittyCartCartTimer .wittyMessage').html(c.cart_text);

                $('body').append('<%= render(partial: "back_end/js_css/dynamic_cart_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');
            } else {
                $('#wittyCartCartTimer').remove();
            }

            // shows timer in the quick cart (manually installed snippet) if enabled
            if (options.quick_view_settings.quick_view_enable) {
                var quickLowCSS = '<%= render(partial: "back_end/js_css/dynamic_low_quick_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>',
                    q = options.quick_view_settings,
                    padding_array = q.quick_view_padding.split(' ');

                $('#wittyCartQuickView .wittyQuickMessage').html(q.quick_view_text);

                $('body').append('<%= render(partial: "back_end/js_css/dynamic_quick_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');
            } else {
                $('#wittyCartQuickView').remove();
            }

            // shows low time pop up or message bar
            if (options.low_time_settings.low_time_enable) {
                var lowCSS = '',
                    l = options.low_time_settings,
                    lowWarning = $('<div id="wittyCartLowBarTimer" class="wittyCartHidden">');
                lowWarning.append('<a href="#" class="wittyLowTimeClose">X</a>');
                lowWarning.append('<div class="wittyCountDownTimerHolder"><div class="wittyCountDownTimer"></div></div>');
                lowWarning.append('<div class="wittyCountTimerMessage">' + l.low_time_text + '</div>');
                lowWarning.append('<div id="wittyCartLowTimerButtons"><a class="btn button" id="wittyButtonLowCart" href="/cart">View Cart</a><a class="btn button" id="wittyButtonLowCheckout" href="/checkout">Checkout</a></div>');

                lowWarning.addClass(l.low_time_location);

                $('body').append(lowWarning);

                $('body').append('<%= render(partial: "back_end/js_css/dynamic_low_warning_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');

            }

            var productCSS = '',
                p = options.product_settings,
                padding_array = p.product_all_padding.split(' ');

            $('#wittyCartReservedYes .line1').text(p.product_reserved_text_top);
            $('#wittyCartReservedYes .line2').html(p.product_reserved_text_bottom.replace('[timer]', '<span class="wittyCountDownTimer"></span>'));
            $('#wittyCartReservedReadd .line1').text(p.product_readd_text_top);
            $('#wittyCartReservedReadd .line2').html(p.product_readd_text_bottom.replace('[timer]', '<span class="wittyCountDownTimer"></span>'));
            
            $('#wittyCartReservedNoReadd .line1').text(p.product_no_readd_text_top);
            $('#wittyCartReservedNoReadd .line2').text(p.product_no_readd_text_bottom);
            $('#wittyCartReservedNoReadd .wittyCartReservedView').text(p.product_no_readd_link);

            $('#wittyCartReservedNo .line1').text(p.product_another_reserved_text_top);
            $('#wittyCartReservedNo .line2').text(p.product_another_reserved_text_bottom);
            $('#wittyCartReservedNo .wittyCartReservedView').text(p.product_another_reserved_link);
            $('#wittyCartReservedGrid h3').text(p.product_grid_text);
            
            $('body').append('<%= render(partial: "back_end/js_css/dynamic_product_css", locals: {o: @option}).to_s.gsub(/\n/, '').html_safe %>');

            customCSS = '<%= CartTimer::Application.assets["timer_js.css"].to_s.gsub(/\n/, '').html_safe %>' + customCSS;
            $('body').append('<style>'+customCSS+'</style>');

            initializeClock('.wittyCountDownTimer', expires);

            $('#wittyCartTimerATC').unbind('click');

            $('#wittyCartTimerATC').click(function(e) {
                e.preventDefault();

                var cart_info = $(this).data('cart');

                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:3000/add-product',
                    dataType: 'json',
                    data: {
                        cart_token: cart_info.token,
                        shopify_domain: '<%= @shop.shopify_domain %>',
                        variant_id: $('[name="id"]').val()
                    },
                    success: function(cart) {
                        console.log(cart);

                        if (cart) {

                        } else {
                            // qw12

                        }
                    }
                });
            });

		} // end ENABLE APP 

	}; // myAppJavaScript() ends here; ALL CUSTOM JS IS TO BE WITHIN THIS FUNCTION!

    // checks for jquery, loads it if undefined.
	if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
	  loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
	    jQuery191 = jQuery.noConflict(true);
	    myAppJavaScript(jQuery191);
	  });
	} else {
	  myAppJavaScript(jQuery);
	}


})();