<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<h3>Options</h3>
<table>
  <tbody>


    <%= form_for @option do |o| %>
      
      <div class="well">
        <div class="form-group">

          <%= o.label :enable_app %>
          <%= o.check_box :enable_app, class: 'form-control' %>

          <!-- BEGIN Starting Time dynamic fields -->
          <% default_value = select_default(@option.starting_time, [180, 300, 600]) %>
          <%= o.label :starting_time %>

          <select class="form-control dynamic-send conditional-send" data-condition="starting_time" data-option="starting_time">
            <%= options_for_select(data_action_map(starting_time_options), selected: default_value) %>
          </select>

          <% if default_value == '' %>
            <%= o.text_field :starting_time, class: 'dynamic-receive conditional-receive', data: {option: 'starting_time', condition: 'starting_time'} %>
          <% else %>
            <%= o.text_field :starting_time, class: 'dynamic-receive conditional-receive', data: {option: 'starting_time', condition: 'starting_time'}, style: "display:none;" %>
          <% end %>
          <!-- Starting Time dynamic fields END -->
          
          <%= o.label :timer_format %>
          <%= o.select :timer_format, timer_format_options, class: 'form-control' %>

          <!-- BEGIN Product Rule dynamic fields -->
          <% default_value = select_default(@option.product_rule, ['none', 'reset']) %>
          <%= o.label :product_rule %>

          <select class="form-control dynamic-send conditional-send" data-condition="product_rule" data-option="product_rule">
            <%= options_for_select(data_action_map(product_rule_options), selected: default_value) %>
          </select>

          <select class="form-control dynamic-send conditional-receive" data-condition="product_rule" data-option="product_rule"<%= display_none?(default_value) %>>
            <%= options_for_select(product_rule_more_time_options, selected: @option.product_rule) %>
          </select>

          <%= o.hidden_field :product_rule, class: 'form-control dynamic-receive', data: {option: 'product_rule'} %>
          <!-- Product Rule dynamic fields END -->
        </div>
      </div>

      <div class="well">
        <div class="tabs">
          <div class="col-md-6">
            <%= o.check_box :float_enable, data: {condition: 'float_setting', scope: 'float_low_settings'} %>
            <%= o.label :float_enable %>
          </div>
          <div class="col-md-6">
            <%= o.check_box :low_time_enable, data: {condition: 'low_time_setting', scope: 'float_low_settings'} %>
            <%= o.label :low_time_enable %>
          </div>
        </div>
      </div>

      <div class="well conditional-receive" data-condition="float_setting" data-scope="float_low_settings">
        <div class="form-group">
          <%= o.label :float_text %>
          <%= o.text_field :float_text, class: 'form-control' %>

          <!-- BEGIN Float Position dynamic fields -->
          <%= o.label :float_position, 'Position' %>
          <select class="form-control">
            <%= options_for_select(float_position_options) %>
          </select>
          <input type="number" class="form-control dynamic-send" data-option="float_position">
          <input type="number" class="form-control dynamic-send" data-option="float_position">
          <%= o.hidden_field :float_position, class: 'form-control dynamic-receive', data: {option: 'float_position'} %>
          <!-- Float Position dynamic fields END -->

          <%= render partial: 'color_field', locals: {o: o, option_value: :float_bg_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :float_text_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :float_timer_color} %>

          <!-- BORDER -->
          <%= render partial: 'color_field', locals: {o: o, option_value: :float_border} %>
          <!-- ENDBORDER -->

          <%= o.label :float_border_radius %>
          <%= o.number_field :float_border_radius %>

          <%= o.label :float_font_size %>
          <%= o.number_field :float_font_size %>

          <%= o.label :float_timer_size %>
          <%= o.number_field :float_timer_size %>
        </div>
      </div>

      <div class="well conditional-receive" data-condition="low_time_setting" data-scope="float_low_settings">
        <div class="form-group">

          <!-- BEGIN Low Time Location dynamic fields -->
          <% default_value = select_default(@option.low_time_location, ['modal']) %>
          <%= o.label :low_time_location %>

          <select class="form-control dynamic-send conditional-send" data-option="low_time_location", data-condition="low_time_location">
            <%= options_for_select(data_action_map(low_time_location_options), selected: default_value) %>
          </select>

          <select class="form-control dynamic-send conditional-receive" data-option="low_time_location", data-condition="low_time_location"<%= display_none?(default_value) %>>
            <%= options_for_select(low_time_location_bar_options, selected: @option.low_time_location) %>
          </select>
          <%= o.hidden_field :low_time_location, class: 'form-control dynamic-receive', data: {option: 'low_time_location'} %>
          <!-- Low Time Location dynamic fields END -->

          <%= o.label :low_time_warning %>
          <%= o.select :low_time_warning, low_time_warning_options, selected: @option.low_time_warning %>

          <%= o.label :low_time_warning_2 %>
          <%= o.select :low_time_warning_2, low_time_warning_2_options, selected: @option.low_time_warning_2 %>

          <%= o.label :low_time_text %>
          <%= o.text_field :low_time_text, class: 'form-control' %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_bar_bg_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_bar_text_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_bar_timer_color} %>

          <!-- BORDER -->
          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_bar_border} %>
          <!-- ENDBORDER -->

          <%= o.label :low_time_bar_border_radius %>
          <%= o.number_field :low_time_bar_border_radius %>

          <%= o.label :low_time_bar_font_size %>
          <%= o.number_field :low_time_bar_font_size %>

          <%= o.label :low_time_bar_timer_size %>
          <%= o.number_field :low_time_bar_timer_size %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_view_cart_bg_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_view_cart_text_color} %>

          <!-- BORDER -->
          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_view_cart_border} %>
          <!-- ENDBORDER -->

          <%= o.label :low_time_view_cart_border_radius %>
          <%= o.number_field :low_time_view_cart_border_radius %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_checkout_bg_color} %>

          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_checkout_text_color} %>

          <!-- BORDER -->
          <%= render partial: 'color_field', locals: {o: o, option_value: :low_time_checkout_border} %>
          <!-- ENDBORDER -->

          <%= o.label :low_time_checkout_border_radius %>
          <%= o.number_field :low_time_checkout_border_radius %>
        </div>
      </div>

<% if false %>
      <div class="well">
        <div class="form-group">

          <%= o.label :message_color %>
          <input type="text" class="form-control color_picker_visable" value="<%= @option.message_color %>" data-color="7">
          <%= o.hidden_field :message_color, class: 'color_picker color-7' %>

          <%= o.label :message_font_size %>
          <%= o.number_field :message_font_size, class: 'form-control' %>
          
          <%= o.label :message_border_color %>
          <input type="text" class="form-control color_picker_visable" value="<%= @option.message_border_color %>" data-color="8">
          <%= o.hidden_field :message_border_color, class: 'form-control color_picker color-8' %>

          <%= o.label :message_background_color %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.message_background_color %>" data-color="9">
          <%= o.hidden_field :message_background_color, class: 'form-control color_picker color-9' %>

          <%= o.label :message_border_radius %>
          <%= o.number_field :message_border_radius, class: 'form-control' %>

          <%= o.label :message_padding %>
          <%= o.text_field :message_padding, class: 'form-control' %>

          <%= o.label :message_margin %>
          <%= o.text_field :message_margin, class: 'form-control' %>
        </div>
      </div>

      <div class="well">
        <div class="form-group">

          <%= o.label :button_1_text %>
          <%= o.text_field :button_1_text, class: 'form-control' %>

          <%= o.label :button_1_color %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_1_color %>" data-color="10">
          <%= o.hidden_field :button_1_color, class: 'form-control color-10' %>
          
          <%= o.label :button_1_font_size %>
          <%= o.number_field :button_1_font_size, class: 'form-control' %>

          <%= o.label :button_1_background_color %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_1_background_color %>" data-color="11">
          <%= o.hidden_field :button_1_background_color, class: 'form-control color_picker color-11' %>

          <%= o.label :button_1_padding %>
          <%= o.text_field :button_1_padding, class: 'form-control' %>

          <%= o.label :button_1_border %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_1_border %>" data-color="12">
          <%= o.hidden_field :button_1_border, class: 'form-control color_picker color-12' %>

          <%= o.label :button_1_border_radius %>
          <%= o.number_field :button_1_border_radius, class: 'form-control' %>
        </div>
      </div>

      <div class="well">
        <div class="form-group">

          <%= o.label :button_2_text %>
          <%= o.text_field :button_2_text, class: 'form-control' %>

          <%= o.label :button_2_color %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_2_color %>" data-color="13">
          <%= o.hidden_field :button_2_color, class: 'form-control color-13' %>
          
          <%= o.label :button_2_font_size %>
          <%= o.number_field :button_2_font_size, class: 'form-control' %>

          <%= o.label :button_2_background_color %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_2_background_color %>" data-color="14">
          <%= o.hidden_field :button_2_background_color, class: 'form-control color_picker color-14' %>

          <%= o.label :button_2_padding %>
          <%= o.text_field :button_2_padding, class: 'form-control' %>

          <%= o.label :button_2_border %>
          <input type="text" class="gform-control color_picker_visable" value="<%= @option.button_2_border %>" data-color="15">
          <%= o.hidden_field :button_2_border, class: 'form-control color_picker color-15' %>

          <%= o.label :button_2_border_radius %>
          <%= o.number_field :button_2_border_radius, class: 'form-control' %>
        </div>
      </div>
<% end %>

      <div class="form-group">
        <%= o.submit class: "btn btn-primary" %>
      </div>

    <% end %>

  </tbody>
</table>
